@model IEnumerable<Research_science.Models.Apply>

@{
    ViewBag.Title = "AppliedView";
    Layout = "~/Views/Employer/LayoutEmployer.cshtml";
}

<h2>Hồ Sơ CV Của Các Ứng Cử Viên</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Job.JobName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Users.FullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CV)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Coverletter)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TimeAppointment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Accept)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Job.JobName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Users.FullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CV)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Coverletter)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TimeAppointment)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Accept)
        </td>
        <td>
            @Html.ActionLink("Detail", "Detail", new { id = item.ApplyID }, new { @class = "btn btn-primary" }) 
        </td>

    </tr>
}

</table>
