@model IEnumerable<Research_science.Models.Apply>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
@{
    ViewBag.Title = "AppliedView";
    Layout = "~/Views/Employer/LayoutEmployer.cshtml";
}


<h2>Hồ Sơ CV Của Các Ứng Cử Viên</h2>


<table class="table">
    <tr>
        <th>
            Tên Công Việc:
        </th>
        <th>
            Tên Ứng Cử Viên:
        </th>
        <th>
            Mô Tả:
        </th>
        <th>
            Tiêu Đề
        </th>
        <th>
            Địa Chỉ
        </th>
        <th>
            Status
        </th>


        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Job.JobName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Users.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CV)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Coverletter)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>

            <td>
                @if (item.Accept == true)
                {
                    <span class="text-success">Accept</span>
                }
                else if (item.Accept == false)
                {
                    <span class="text-danger">Refuse</span>
                }
                else
                {
                    <span class="text-danger">Pending</span>
                }

            </td>

            <td>

                @if (item.Accept != true)
                {
                    <a href="@Url.Action("Accept","Employer", new { id = item.JobID})" class="btn btn-outline-primary">Chấp nhận</a>
                }
                else
                {
                    <a href="@Url.Action("Refuse","Employer", new { id = item.JobID})" class="btn btn-outline-danger">Từ chối</a>
                }

            </td>
            <td>
                @Html.ActionLink("Detail", "Detail", new { id = item.UserID }, new { @class = "btn btn-primary" })
            </td>

        </tr>
    }

</table>
<p>
    @Html.ActionLink("QUAY VỀ TRANG CHỦ", "Menu", "Employer")

</p>