@model Research_science.Models.Users

@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/LayoutNavbar.cshtml";
}

<h2>Thông Tin Của Ứng Cử Viên</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LoaiUser.TenLoai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LoaiUser.TenLoai)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FullName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FullName)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.Phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Decsription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Decsription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Image)
        </dt>

        <dd>
        <dd>
            <img style="height:200px;width:200px" src="@Model.Image" alt=" @Model.FullName">
        </dd>



        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CanCuoc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CanCuoc)
        </dd>


    </dl>
</div>
<p>
    @Html.ActionLink("QUAY LẠI TRANG TRƯỚC", "AppliedView")
</p>
