@model IEnumerable<Research_science.Models.Job>

@{
    ViewBag.Title = "JobIndex";
    Layout = "~/Views/Employer/LayoutEmployer.cshtml";
}

@helper Truncate(string s, int length)
{
    if (s.Length < length)
    {
        @s
    }
    else
    {
        @s.Substring(0, length)<text>...</text>
    }
}

<h2>Thêm Những Công Việc </h2>

<p>
    @Html.ActionLink("Create New ", "Create", null, new { @class = "btn btn-outline-info" })
</p>
<table class="table">
    <tr>
        <th>
            Country
        </th>
        <th>
            User Full Name
        </th>
        <th>
            Job Name
        </th>
        <th>
            Anh
        </th>
        <th>
            Title
        </th>
        <th>
            Description
        </th>
        <th>
            Budget
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Location.Country)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Users.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JobName)
            </td>
            <td>
                <img src="@item.Anh" style="width:250px;" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Budget)
            </td>
            <td>
                <a href="@Url.Action("Edit", new { id = item.JobID })" class="btn btn-warning"> Edit</a>
                <a href="@Url.Action("Details", new { id = item.JobID })" class="btn btn-primary"> Details</a>
                <a href="@Url.Action("Delete", new { id = item.JobID })" class="btn btn-danger"> Delete</a>
            </td>
        </tr>
    }
</table>


<div class="pagination justify-content-center">
    <ul class="pagination">
        @if (ViewBag.HasPreviousPage)
        {
            <li class="page-item">
                <a class="page-link" href="@Url.Action("JobIndex", new { page = ViewBag.PageNumber - 1 })">Previous</a>
            </li>
        }

        @for (int i = 1; i <= ViewBag.TotalPages; i++)
        {
            <li class="page-item @(i == ViewBag.PageNumber ? "active" : "")">
                <a class="page-link" href="@Url.Action("JobIndex", new { page = i })">@i</a>
            </li>
        }

        @if (ViewBag.HasNextPage)
        {
            <li class="page-item">
                <a class="page-link" href="@Url.Action("JobIndex", new { page = ViewBag.PageNumber + 1 })">Next</a>
            </li>
        }
    </ul>
</div>


<p>
    @Html.ActionLink("QUAY VỀ TRANG CHỦ", "Menu", "Employer")

</p>