@model IEnumerable<Research_science.Models.Job>

@{
    ViewBag.Title = "JobIndex";
    Layout = "~/Views/Employer/LayoutEmployer.cshtml";
}

<h2>Thêm Những Công Việc </h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Location.Country)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Users.FullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.JobName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Anh)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Budget)
        </th>
        
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Location.Country)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Users.FullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.JobName)
        </td>

        <td>
            <img src="@item.Anh" style="width:250px;" />

        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Budget)
        </td>

        @*<td>
            @Html.ActionLink("<i class='fas fa-edit'></i>", "Edit", new { id = item.JobID }, new { @class = "btn btn-primary btn-sm", title = "Edit" })
            @Html.ActionLink("<i class='fas fa-info-circle'></i>", "Details", new { id = item.JobID }, new { @class = "btn btn-info btn-sm", title = "Details" })
            @Html.ActionLink("<i class='fas fa-trash-alt'></i>", "Delete", new { id = item.JobID }, new { @class = "btn btn-danger btn-sm", title = "Delete", onclick = "return confirm('Are you sure you want to delete this item?');" })
        </td>*@

        <td>
            <a href="@Url.Action("Edit", new { id = item.JobID })" class="btn btn-warning"> Edit</a>
            <a href="@Url.Action("Details", new { id = item.JobID })" class="btn btn-primary"> Details</a>
            <a href="@Url.Action("Delete", new { id = item.JobID })" class="btn btn-danger"> Delete</a>
        </td>

    </tr>
}

</table>
