@model IEnumerable<Research_science.Models.Job>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/LayoutAdmin.cshtml";
}

<h2>Xem Các Công Việc </h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Location.Country)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Users.FullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.JobName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Budget)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Accept)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Location.Country)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Users.FullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.JobName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Budget)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Accept)
        </td>
        <td>
            @*@Html.ActionLink("Edit", "Edit", new { id = item.JobID }, new { @class = "btn btn-warning" }) |*@
            @Html.ActionLink("Details", "Details", new { id = item.JobID }, new { @class = "btn btn-primary" }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.JobID }, new { @class = "btn btn-danger" })
        </td>

    </tr>
}

</table>
