
@model Research_science.Models.UserLogin
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/LayoutNavbar.cshtml";
}
    
<link href="~/Content/Item/Login.css" rel="stylesheet">


@using (Html.BeginForm("Login", "User", FormMethod.Post))
{
    @Html.AntiForgeryToken( )
    <form action="/User/Login" method="post">
        <div class="wrapper">
            @Html.ValidationSummary(true)
            <div class="logo">
                <img src="https://images.unsplash.com/photo-1699645522859-512f53d4a4bf?q=80&w=1780&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
            </div>
            <div class="text-center mt-4 name">
                TD-Freelancer and Develoyment
            </div>
            <div class="p-3 mt-3">
                <label for="exampleFormControlInput2" class="form-label">UserName</label>
                @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
                <label for="inputPassword5" class="form-label">Password</label>
                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })

                <button class="btn mt-3">Login</button>
            </div>
            <div class="text-center fs-6">
                <a href="@Url.Action("ForgotPass", "User")">Forget password?</a> or <a href="@Url.Action("Register","User")">Sign up</a>
            </div>
        </div>
    </form>


}
