@model Research_science.Models.UserLogin
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/LayoutNavbar.cshtml";
}

<link href="~/Content/Item/Login.css" rel="stylesheet">

@using (Html.BeginForm())
{
    <form action="/User/Login" method="post">

        <div class="wrapper">
            @Html.ValidationSummary(true)
            <div class="logo">
                <img src="https://scontent.fsgn5-10.fna.fbcdn.net/v/t39.30808-6/420829455_1436987333917033_7474987499505699003_n.jpg?_nc_cat=106&ccb=1-7&_nc_sid=5f2048&_nc_ohc=twnMmJWq_hsAX-sc52f&_nc_ht=scontent.fsgn5-10.fna&oh=00_AfCizh4jz1cZ-53SYnCmLTeTs_DkQLaQ3fxfHjjkkYjnZg&oe=65F1F2B8" alt="">
            </div>
            <div class="text-center mt-4 name">
                TD-Freelancer and Develoyment
            </div>
            <form class="p-3 mt-3">
                <label for="exampleFormControlInput2" class="form-label">UserName</label>
                @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
                <label for="inputPassword5" class="form-label">Password</label>
                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                <button class="btn mt-3">Login</button>
            </form>
            <div class="text-center fs-6">
                <a href="@Url.Action("ForgotPass", "User")">Forget password?</a> or <a href="@Url.Action("Register","User")">Sign up</a>
            </div>
        </div>
        </form>
        
} 
