@model Research_science.Models.Users
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/LayoutNavbar.cshtml";
}
<style>
    form {
        font-size: 14px;
    }

    label, input {
        font-size: 10px; /* Điều chỉnh kích thước chữ theo ý muốn */
    }

    .text-danger {
        font-size: 10px; /* Điều chỉnh kích thước chữ theo ý muốn */
    }

</style>

<div style="display: flex; justify-content: center; height: 125vh; top: 30px; padding-bottom: 100px;">
    <form style="border: solid; border-width: 3px; border-radius: 10px; padding: 20px;" action="/User/Register" method="post">
        <div>
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <h2>Register As a job seeker</h2>

            <div class="mb-3">
                <label for="inputEmail" class="form-label">Account Email</label>
                <input type="text" class="form-control" id="inputEmail" placeholder="Email" style="min-width:500px" name="Email">
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>

            <div class="mb-3">
                <label for="inputPassword" class="form-label">Password</label>
                <input type="password" class="form-control" id="inputPassword" placeholder="Password" style="min-width:500px" name="Password">
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                <div class="form-text">
                    Your password must be 8-30 characters long, contain letters and numbers, and must not contain spaces, special characters, or emoji.
                </div>
            </div>


                <label for="inputPassword5" class="form-label">Confirm Password</label>
                <input type="password" id="inputPassword5" class="form-control" aria-describedby="passwordHelpBlock" placeholder="Confirm Password" style="min-width:500px" name="ConfirmPassword">
                @Html.ValidationMessageFor(model => model.ConfirmPass, "", new { @class = "text-danger" })



            <div class="mb-3">
                <label for="inputFullName" class="form-label">FullName</label>
                <input type="text" class="form-control" id="inputFullName" placeholder="FullName" style="min-width:500px" name="FullName">
                @Html.ValidationMessageFor(model => model.FullName, "", new { @class = "text-danger" })
            </div>

            <div class="mb-3">
                <label for="inputPhone" class="form-label">Phone</label>
                <input type="number" class="form-control" id="inputPhone" placeholder="Phone" style="min-width:500px" name="Phone">
                @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
            </div>

            <div class="mb-3">
                <label for="inputAddress" class="form-label">Address</label>
                <input type="text" class="form-control" id="inputAddress" placeholder="Address" style="min-width:500px" name="Address">
                @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
            </div>

          
            <div class="mb-3">
                <label for="inputBirthday" class="form-label">BirthDay</label>
                <input type="date" class="form-control" id="inputBirthday" name="Enter happy birthday">
                @Html.ValidationMessageFor(model => model.BirthDay, "", new { @class = "text-danger" })
            </div>

            <div style="padding-top: 20px; text-align: center;">
                <button type="submit" class="btn btn-primary btn-lg">Submit</button>
            </div>
        </div>
    </form>
</div>
