<!DOCTYPE html>
<html>
<head>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Content/Site.css" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    @Styles.Render("~/Content/css")
</head>
<body>
    <div>
        <div class="row" style="padding-top:50px">
            <div class="col-6">
                <a href="~/HomePage/Index" class="text-decoration-none">
                    <h3 style="color: azure; font-weight: 700;">TD-Freelancer and Develoyment</h3>
                </a>
            </div>
            <div>
                @*@if (Session["UserName"] != null)
                {
                    var customer = (Research_science.Models.Users)Session["customer"];
                    <div style="float: right" class="dropdown">
                        @if (customer != null && customer.Avatar != null)
                        {
                            <img src="@customer.Avatar" style="width: 40px; height: 40px; border-radius: 50%; object-fit: cover;" />
                        }
                        else
                        {
                            <img src="https://e7.pngegg.com/pngimages/84/165/png-clipart-united-states-avatar-organization-information-user-avatar-service-computer-wallpaper-thumbnail.png" style="width: 40px; height: 40px; border-radius: 50%; object-fit: cover;" />
                        }
                        <a class="dropdown-toggle btn" data-toggle="dropdown" aria-expanded="false" style="background-color: azure; color: darkblue; font-weight: 500">@customer.Fullname</a>
                        <ul class="dropdown-menu text-light">
                            <li><a class="dropdown-item" href="@Url.Action("CustomerProfile", "HomePage")">Profile</a></li>
                            <li><a class="dropdown-item" href="@Url.Action("ChatBox", "HomePage")">Message</a></li>
                            <li><a class="dropdown-item" href="@Url.Action("Logout","User")">Log out</a></li>
                        </ul>
                    </div>
                }*@
                else
                {
                    <div style="float:right">
                        <a class="btn" style="background-color:azure;color:darkred;font-weight:500" href="@Url.Action("SignUp", "User")">Sign up Employers</a>
                        <a class="btn" style="background-color:azure;color:darkred;font-weight:500" href="@Url.Action("Register", "User")">Register as a job seeker</a>
                        <a class="btn" style="background-color:azure;color:darkred;font-weight:500" href="@Url.Action("Login", "User")">Sign in</a>
                    </div>
                }

                @if (!Context.IsCustomErrorEnabled)
                {
                }

            </div>
            <div class="row">
                <ul class="nav nav-pills">
                    <li class="nav-item dropdown" style="padding-right:20px">
                        <a class="btn dropdown-toggle" style="font-weight: 300; border-radius: 20px; color: azure; background-color: darkred" href="#" role="button" id="staysDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="material-symbols-outlined" style="vertical-align:middle;font-size:30px">bed</i> Design
                        </a>
                        <div class="dropdown-menu" aria-labelledby="staysDropdown">
                            <a class="dropdown-item" href="@Url.Action("Stays","HomePage")">Option 1</a>
                            <!-- Add more dropdown items if needed -->
                        </div>
                    </li>

                    <li class="nav-item dropdown" style="padding-right:20px">
                        <a class="btn dropdown-toggle" style="font-weight: 300; border-radius: 20px; color: azure; background-color: darkred" href="#" role="button" id="flightsDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="material-symbols-outlined" style="vertical-align:middle;font-size:30px">flight</i> Editor
                        </a>
                        <div class="dropdown-menu" aria-labelledby="flightsDropdown">
                            <a class="dropdown-item" href="@Url.Action("Flights","HomePage")">Option 1</a>
                            <!-- Add more dropdown items if needed -->
                        </div>
                    </li>
                    <li class="nav-item dropdown" style="padding-right:20px">
                        <a class="btn dropdown-toggle" style="font-weight: 300; border-radius: 20px; color: azure; background-color: darkred" href="#" role="button" id="flightsDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="material-symbols-outlined" style="vertical-align:middle;font-size:30px">flight</i> Developer
                        </a>
                        <div class="dropdown-menu" aria-labelledby="flightsDropdown">
                            <a class="dropdown-item" href="@Url.Action("Flights","HomePage")">Option 1</a>
                            <!-- Add more dropdown items if needed -->
                        </div>
                    </li>
                    <li class="nav-item dropdown" style="padding-right:20px">
                        <a class="btn dropdown-toggle" style="font-weight: 300; border-radius: 20px; color: azure; background-color: darkred" href="#" role="button" id="flightsDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="material-symbols-outlined" style="vertical-align:middle;font-size:30px">flight</i> WordP
                        </a>
                        <div class="dropdown-menu" aria-labelledby="flightsDropdown">
                            <a class="dropdown-item" href="@Url.Action("Flights","HomePage")">Option 1</a>
                            <!-- Add more dropdown items if needed -->
                        </div>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="btn dropdown-toggle" style="font-weight: 300; border-radius: 20px; color: azure; background-color: darkred" href="#" role="button" id="packagesDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="material-symbols-outlined" style="vertical-align:middle;font-size:30px">travel_explore</i> Packages
                        </a>
                        <div class="dropdown-menu" aria-labelledby="packagesDropdown">
                            <a class="dropdown-item" href="@Url.Action("Packages","HomePage")">Option 1</a>
                            <!-- Add more dropdown items if needed -->
                        </div>
                    </li>
                </ul>
            </div>

        </div>
        <div class="row">
            <ul class="nav nav-pills">
                <!-- Your dropdown menu items -->
            </ul>
        </div>
        <div class="row" style="padding-top:150px">
            <p style="font-size:45px;color:azure;font-weight:700">
                Find your job
            </p>
            <p style="font-size:20px;color:azure;font-weight:300">
                Find more jobs, design, programming, drawing and more...
            </p>
        </div>
    </div>
</body>
</html>
