<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Content/Site.css" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    @Styles.Render("~/Content/css")
</head>
<body>
    <div>
        <div class="row" style="padding-top:50px">
            <div class="col-6">
                <a href="~/HomePage/Index" class="text-decoration-none">
                    <h3 style="color: azure; font-weight: 700;">TD-Freelancer and Develoyment</h3>
                </a>
            </div>
            <div>
                @if (Session["UserName"] != null)
                {
                    var customer = (Research_science.Models.Customer)Session["customer"];
                    <div style="float: right">
                        @if (customer != null && customer.Avatar != null)
                        {
                            <img src="@customer.Avatar" style="width: 40px; height: 40px; border-radius: 50%; object-fit: cover;" />
                        }
                        else
                        {
                            <img src="https://scontent.fsgn5-10.fna.fbcdn.net/v/t39.30808-6/420829455_1436987333917033_7474987499505699003_n.jpg?_nc_cat=106&ccb=1-7&_nc_sid=5f2048&_nc_ohc=twnMmJWq_hsAX-sc52f&_nc_ht=scontent.fsgn5-10.fna&oh=00_AfCizh4jz1cZ-53SYnCmLTeTs_DkQLaQ3fxfHjjkkYjnZg&oe=65F1F2B8" style="width: 40px; height: 40px; border-radius: 50%; object-fit: cover;" />
                        }
                        <a class="dropdown-toggle btn" data-toggle="dropdown" aria-expanded="false" style="background-color: azure; color: darkblue; font-weight: 500">@customer.Fullname</a>
                        <ul class="dropdown-menu text-light">
                            <li><a class="dropdown-item" href="@Url.Action("Profile","User")">Profile</a></li>
                            <li><a class="dropdown-item" href="@Url.Action("BookingHistory","User")">Booking history</a></li>
                            <li><a class="dropdown-item" href="@Url.Action("Logout","User")">Log out</a></li>
                        </ul>
                    </div>
                }
                else
                {
                    <div style="float:right">
                        <a class="btn" style="background-color:azure;color:darkred;font-weight:500" href="@Url.Action("SignUp", "User")">Sign up Employers</a>
                        <a class="btn" style="background-color:azure;color:darkred;font-weight:500" href="@Url.Action("Register", "User")">Register as a job seeker</a>
                        <a class="btn" style="background-color:azure;color:darkred;font-weight:500" href="@Url.Action("Login", "User")">Sign in</a>
                    </div>
                }
            </div>
        </div>
        <div class="row">
            <ul class="nav nav-pills">
                <!-- Your dropdown menu items -->
            </ul>
        </div>
        <div class="row" style="padding-top:150px">
            <p style="font-size:45px;color:azure;font-weight:700">
                Find your job
            </p>
            <p style="font-size:20px;color:azure;font-weight:300">
                Find more jobs, design, programming, drawing and more...
            </p>
        </div>
    </div>
</body>
</html>
