@*@model IEnumerable<Research_science.Models.Users>*@
@using PagedList.Mvc;
@using Research_science.Models
@helper Truncate(string sa, int length)
{
    sa = sa ?? "";
    if (sa.Length < length)
    {
        @sa
    }
    else
    {
        @sa.Substring(0, length)<text>...</text>
    }
}
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/LayoutAdmin.cshtml";
}

<h2>Account của Company và Ứng Cử Viên</h2>

@*<p>
        @Html.ActionLink("Create New", "Create")
    </p>*@
<table class="table">
    <tr>
        <th>
            Phân Loại:
        </th>
        <th>
            FullName
        </th>
        <th>
            LogoCompany
        </th>
        @*<th>
                Số Điện Thoại
            </th>*@
        <th>
            Address
        </th>
        <th>
            Decsription
        </th>

        <th>
            Image
        </th>
        <th>
            UserName
        </th>
        <th>
            Password
        </th>
        <th>
            Email
        </th>

        <th>
            Business
        </th>
        @*<th>
                CanCuoc
            </th>*@

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Truncate(item.LoaiUser.TenLoai, 50)
            </td>
            <td>
                @Truncate(item.FullName, 50)
            </td>
            <td>
                <img src="@item.LogoCompany" style="width:50px;" />

            </td>
            @*<td>
                    @Truncate(item.Phone, 100)
                </td>*@
            <td>
                @Truncate(item.Address, 100)
            </td>
            <td>
                @Truncate(item.Decsription, 200)
            </td>


            <td>
                <img src="@item.Image" style="width:50px;" />

            </td>
            <td>
                @Truncate(item.UserName, 50)
            </td>
            <td>
                @Truncate(item.Password, 50)
            </td>
            <td>
                @Truncate(item.Email, 50)
            </td>

            <td>
                @Truncate(item.Business, 100)
            </td>
            @*<td>
                    @Truncate(item.CanCuoc, 100)
                </td>*@

            <td>
                @*@Html.ActionLink("Edit", "Edit", new { id = item.UserID }, new { @class = "btn btn-warning" }) |*@
                @Html.ActionLink("Details", "Details", new { id = item.UserID }, new { @class = "btn btn-primary" })
                @Html.ActionLink("Delete", "Delete", new { id = item.UserID }, new { @class = "btn btn-danger" })
            </td>

        </tr>
    }

</table>

<div class="MenuTrang">
    @Html.PagedListPager((PagedList.IPagedList)Model, page => Url.Action("Index", new { page = page }))
</div>

<style>
    .MenuTrang {
        display: flex;
        justify-content: center;
    }

        .MenuTrang .pagination {
            display: flex;
            list-style: none;
            padding: 0;
        }

            .MenuTrang .pagination li {
                margin: 0 5px;
            }

                .MenuTrang .pagination li a {
                    text-decoration: none;
                    padding: 5px 10px;
                    border: 1px solid #ccc;
                    border-radius: 3px;
                    color: #333;
                }

                .MenuTrang .pagination li.active a {
                    background-color: #007bff;
                    color: #fff;
                }

</style>